/* * {
  border: 1px solid red;
} */

body {
  color: white;
  font-family: "Reddit Sans", sans-serif;
  background-color: var(--backgroundColor);
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0 2em 0;
}
footer {
  background-color: var(--mainColor);
  color: var(--elementColor);
  text-align: center;
  width: 100%;
  margin-top: auto;
}

/* Initialisation variable personnalisées */

:root {
  --mainColor: #8A59FF;
  --secondaryColor: #c4abff;
  --backgroundColor: #f4f4f4;
  --elementColor: white;
  --taskMainColor: #45E5BB;
  --taskSecondaryColor: #d0fffa;
  --expenseMainColor: #FF8059;
  --expenseSecondaryColor: #ffb6a0;
  --misc1MainColor: #fff200;
  --misc1SecondaryColor: #fffcd6;
  --misc2MainColor: #59FFCB;

}

/* HEADER ---------- */

/* Effet de flou pour le body en utilisant un pseudo-élément avec opacité */
body.blurred::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente pour l'opacité */
  backdrop-filter: blur(5px);
  z-index: 999; /* Z-index élevé pour être juste en dessous du menu */
  pointer-events: none; /* Permet de cliquer à travers le pseudo-élément */
  transition: opacity 0.5s ease; /* Ajoutez une transition pour l'effet d'opacité */
  opacity: 1;
}
body.no-scroll {
  overflow: hidden; /* Désactiver le défilement du corps */
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mainColor);

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  font-size: large;
  font-weight: 600;
  flex: 11;
}

.header-menu {
  display: none;
  text-decoration: none;
  margin-left: 1em;
}
.header-hamburger-container {
  background-color: var(--mainColor);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 275px; /* Définissez la largeur du menu */
  transform: translateX(-100%); /* Commencez en dehors de la vue */
  transition: transform 0.5s ease; /* Animation de glissement */
  z-index: 1000;
}
.header-hamburger-container.show {
  transform: translateX(0); /* Glissez dans la vue */
}
.header-hamburger-content {
  display: block;
}


.header-hamburger-content a {
  display: block;
  justify-content: space-between;
  color: var(--elementColor);
  padding: 14px 1em;
  text-decoration: none;
  font-size: 17px;
}

.header-logo-container {
  flex: 2;
  display: flex;
  align-items: center;
}

.header-logo-container a {
  margin-left: 20%;
}

.header-logo {
  width: 100px;
  height: auto;
}

.header-navigation {
  display: flex;
  justify-content: center;
  gap: 4vw;
  flex: 3;
}

.header-navbar {
  display: flex;
  align-items: center;
  gap: 2em;
}

.header-navbar-2 {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 4em;
}

.header-navbar a,
.header-navbar-2 a {
  display: flex;
  align-items: center;
  height: 75%;
  text-decoration: none;
  color: var(--elementColor);
  white-space: nowrap;
  transition: transform 0.40s ease;
}

.svg-container {
  position: relative;
  display: inline-block;
  line-height: 1;
}

.header-notif {
  display: inline-block;
  vertical-align: middle;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: var(--elementColor);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.svg-container {
  position: relative;
}

.notification-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  background-color: var(--elementColor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
  padding: 10px;
}

.notification-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-item p {
  margin: 0;
  color: black;
}

.notification-item:hover {
  background-color: var(--secondaryColor);
}

.accountimage {
  max-width: 42px !important;
  max-height: 42px !important;
  border-radius: 50%;
}

.header-task-button {
  background-color: #6624ff;
  border-radius: 10px;
  padding: 0.5em;

}

.header-task-button-alternate {
  display: none;
}

.header-task-button a div {
  display: block;
}

/*ANIMATIONS*/
.header-hamburger-a:hover{
  background-color: var(--secondaryColor);
}
.header-link-container a:hover {
  color: var(--secondaryColor);
  transform: scale(1.1);
}

.header-notif:hover {
  animation: fretiller 0.5s infinite;
}

.header-task-button:hover {
  animation: fretiller 0.45s infinite;
}

@keyframes fretiller {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

/*FIN ANIMATIONS*/

/*HEADER - RESPONSIVE*/

@media screen and (max-width: 480px) {
  .header-task-button{
    display: none;
  }
  
}

@media screen and (max-width: 880px) {

  .header-menu {
    display: block;
    justify-content: center;
  }

  .header-logo-container{
    flex: 6;
    justify-content: center;
  }
  .header-logo-container a{
    justify-content: center;
    align-items: center;
  }

  nav.header-navbar {
    display: none;
  }
  .header-navigation{
    justify-content: end;
    flex: 2;
  }
}

@media screen and (max-width: 1226px) {
  .header-task-button a div {
    display: none;
  }

  .header-task-button-alternate {
    display: block;
  }

}

/*FIN HEADER RESPONSIVE*/
/*FIN HEADER*/

/*MAIN*/
/*HOMEPAGE*/
.headera {
  background-color: var(--mainColor);
  color: white;
  text-align: center;
  padding: 1em 0;
}
.containera {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}
.intro {
  text-align: center;
  margin-bottom: 2em;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.feature {
  background-color: white;
  padding: 1.5em;
  margin: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(30% - 2em);
  box-sizing: border-box;
}
.feature h3 {
  color: var(--mainColor);
}
.cta {
  text-align: center;
  margin-top: 2em;
}
.cta a {
  background-color: var(--mainColor);
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 5px;
}
.cta a:hover {
  background-color: #45a049;
}
/*FIN HOMEPAGE*/
/*LOGIN/REGISTER -------*/
/* Styles pour le formulaire de connexion */
.login-container, .register-form {
  background-color: var(--elementColor);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.login-form h2, .register-form h2 {
  margin-top: 0;
  color: var(--mainColor);
}

.form-group {
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  color: var(--mainColor);
}

.form-group input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  box-sizing: border-box;
}

.register-button {
  width: 100%;
  padding: 0.75em;
  background-color: var(--mainColor);
  border: none;
  border-radius: 5px;
  color: var(--elementColor);
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondaryColor);
}

/*FIN LOGIN/REGISTER*/
/*CALENDAR*/

section{
  color: black;
}
.calendar-info-title{
  margin:1.5em 0 1em 3em;
}
.calendar-info-title p{
  font-size: larger;
  font-weight: 600;
}
.calendar-section-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em 6em 2em;
  gap: 2em;
}

.calendar-container {
  width: 60%;
  height: 80vh;
  background-color: var(--elementColor);
  padding: 1em 2em 2em 1em;
  border-radius: 20px;
}
#calender{
  height: 100%;
}
/*Calendar Components*/
.fc-toolbar-chunk{
  display: flex;
  margin: 0.2em;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  width: 50%;
}
.fc .fc-button{
  padding: 0.3em 0.5em;
}
.fc-view-harness .fc-view-harness-passive{
  height: 100%;
}
/*Fin calendar component*/

.calendar-title h3{
  margin: 0
}
.calendar-submenu {
  width: 40%;
  max-height: 45vh;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}
.calendar-submenu-info {
  flex: 1 1 48%;
  height: 46%;
  background-color: var(--elementColor);
  border-radius: 20px;
  padding: 1em;
  box-sizing: border-box;
}

.task-title-container{
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.task-title-container p{
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}
.count{
  font-size: 32px;
  font-weight: 700;
  white-space: wrap;
  margin: 0.5em 0 0 0.5em;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 50%;
  height: 80%;
}
.task-icon{
  background-color: var(--taskSecondaryColor);
}
.task{
  color: var(--taskMainColor);
}
.expense-icon{
  background-color: var(--expenseSecondaryColor);
}
.expense{
  color: var(--expenseMainColor);
}
.misc-icon{
  background-color: var(--misc1SecondaryColor);
}
.misc{
  color: var(--misc1MainColor);
}
.misc2-icon{
  background-color: var(--secondaryColor);
}
.misc2{
  color: var(--mainColor);
}
.submenu-voirPlus{
  padding: 1em;

}
.submenu-voirPlus a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 0.25em;
}
.submenu-voirPlus span{
  font-weight: 400;
}

/*Début Media querys Calendar + animations */

@media screen and (max-width: 880px) {
  .calendar-section-container {
    flex-direction: column;
    align-items: stretch;
  }
  .calendar-container{
    width: 90%;
    padding: 1em;
    height: fit-content;
  }
  .calendar-submenu{
    width: 100%;
    max-height: fit-content;
  }

}
@media (max-width: 480px) {
  #calendar {
    width: 100%;
    padding: 0;
  }
  .fc-toolbar-title{
    font-size: 1em;
  }
  .fc-toolbar-chunk{
    display: flex;
    margin: 0.2em;
  }
  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    width: 50%;
  }
  .fc .fc-button{
    padding: 0.3em 0.5em;
  }
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fc-toolbar.fc-header-toolbar .fc-left,
  .fc-toolbar.fc-header-toolbar .fc-center,
  .fc-toolbar.fc-header-toolbar .fc-right {
    width: 100%;
    margin: 5px 0;
  }
  
}
/*Fin Media querys Calendar + animations */

/*FIN CALENDAR*/

/*TASK */
.task-section-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em 6em 2em;
  gap: 2em;
}

.task-column {
  width: 50%;
  height: 50vh;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: var(--elementColor);
}

.header {
  border-bottom: 1px solid #d1d1d1;
}

.task-column .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: var(--taskSecondaryColor);
}

.header h3 {
  margin: 0;
}

.task-info {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  font-weight: bold;
  cursor: pointer;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 0 0;
}

.task-footer p {
  margin: 0;
}

.task-date {
  font-size: small;
}

.task-container {
  height: calc(100% - 4.4em); /* Adjust height to fit within the column */
  overflow-y: auto;
}

.add-task {
  background-color: var(--taskMainColor);
  color: var(--elementColor);
  border-radius: 8px;
  padding: 0.5em;
  cursor: pointer;
}

.delete-task,
.complete-task {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.complete-task {
  background-color: #4caf50;
}

.delete-task svg,
.complete-task svg {
  width: 18px;
  height: 18px;
}

/* Custom Pop-up Container */
.custom-task-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Custom Pop-up Content */
.custom-task-popup-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width for larger screens */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Custom Close Button */
.custom-close-popup {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.custom-close-popup:hover,
.custom-close-popup:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom Form Styling */
.custom-form-group {
  margin-bottom: 15px;
}

.custom-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.custom-form-group input,
.custom-form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.custom-save-task {
  background-color: var(--taskMainColor);
  /* background-color: #4caf50; */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-save-task:hover {
  background-color: var(--misc2MainColor);
  /* background-color: #45a049; */
}

/* Styles pour la vue mobile */
@media (max-width: 768px) {
  .task-section-container {
    flex-direction: column;
    padding: 1em;
    gap: 1em;
  }

  .task-column {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1em;
  }

  .task-container {
    height: auto;
  }

  .task-info {
    flex-direction: column;
    padding: 1em;
  }

  .task-header span {
    margin-bottom: 0.5em;
  }

  .task-footer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1em;
  }

  .task-footer p {
    margin-bottom: 0.5em;
  }

  .header.task {
    justify-content: space-between;
    padding: 1em;
  }

  .header h3 {
    font-size: 1.2em;
  }

  .add-task {
    width: 24px;
    height: 24px;
  }

  .delete-task,
  .complete-task {
    width: 30px;
    height: 30px;
  }

  .delete-task svg,
  .complete-task svg {
    width: 24px;
    height: 24px;
  }
}


/*FIN TASK*/
/*EXPENSES*/
.expenses-submenu {
  display: flex;
  justify-content: center;
  gap: 2%;
}
.amount{
  margin: 0.5em 0 0 1em;
  font-size: larger;
  font-weight: 700;

}
.expense-section-container {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header.expense h3 {
  margin: 0;
}

.header.expense svg {
  cursor: pointer;
}

.expense-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.custom-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.custom-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.custom-close-popup {
  float: right;
  cursor: pointer;
}

.custom-form-group {
  margin-bottom: 15px;
}

.custom-form-group label {
  display: block;
  margin-bottom: 5px;
}

.custom-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.custom-save-expense {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
/*FIN EXPENSES*/
/*PROFILE */
.profile-main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profile-container {
  width: 50%;
  max-width: 800px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.profile-photo {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

.profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.profile-photo:hover img {
  transform: scale(1.1);
}

.profile-info {
  text-align: center;
}

.profile-info h1 {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

.profile-info p {
  margin: 5px 0;
  color: #666;
}

.edit-profile-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-btn:hover {
  background-color: #0056b3;
}

/* Profile Details */
.profile-details {
  padding: 20px;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-section h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: #333;
}

/* Popup Styles */
.custom-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.custom-popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  text-align: left;
}

.custom-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.custom-form-group {
  margin-bottom: 15px;
}

.custom-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.custom-form-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.custom-save-profile {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-save-profile:hover {
  background-color: #218838;
}

@media (min-width: 768px) {
  .profile-header {
    flex-direction: row;
    align-items: center;
  }
  .profile-photo {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .profile-info {
    text-align: left;
  }
}

/*FIN PROFILE */
/*FIN MAIN*/

/*FOOTER --------------*/
footer h4{
  margin: 0;
}
.footer-info{
  display: flex;
  padding: 2em 0 1em 0;
  gap: 4em;
}

.footer-list-container{
  display: flex;
  justify-content: end;
  gap: 4em;
  padding: 0.5em;
  margin: 0 5em;
}
.footer-list{
  display: flex;
  flex-direction: column;
}
.footer-list a{
  text-decoration: none;
  color: var(--elementColor);
  padding: 0.25em;
}
.footer-legal{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0 1em 0;
}
.footer-socialMedia{
  gap: 0.5em;
}
.footer-socialMedia a{
  color: var(--elementColor);
}